<div class="container">
	<form class="form-horizontal">
		<h3 class="form-horizontal-heading">New Reminder</h3>
		<label for="inputReminder" class="sr-only">Reminder Desciption</label>
		<textarea class="form-control" rows="3" ng-model="email.reminder" placeholder="Reminder Desciption" required autofocus></textarea>
		<br />
		<div class="row">
			<div class="col-md-4"><input type="datetime-local" class="form-control" ng-model="email.date"></input></div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-6"><button class="btn btn-sm btn-success btn-block" type="submit" ng-click="save()">Save</button></div>
			<div class="col-md-6"><a class="btn btn-sm btn-default btn-block" href="/#/display/{{address}}">Cancel</a></div>
		</div>
	</form>
</div>